body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 3px solid #f1f1f1;
  width:40%;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
 .questions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.questions a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
}

 .questions li a.active {
  background-color: #04AA6D;
  color: white;
}

.logout-div button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #04AA6D;
  text-align: center;
}
.greet {
  font-size: 48px;
  padding: 20px 140px;
  color: #000;
  margin: 0;
}
.logout {
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.home {
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.container {
  width:70%;
  margin: 0 auto;
}
